

<section class="bg-slate-50">
    <app-stories></app-stories>

    <section class="home flex  justify-center mt-1 z-10 bg-slate-50">
    
        <div class="flex">
            <div class="hidden lg:block z-10 ">
                <app-navpagelg></app-navpagelg>
            </div>
    
            <div>
                <app-one-post></app-one-post>
            </div>
    
            <div class="hidden lg:block z-10">
                <app-rightside></app-rightside>
            </div>
        </div>
    
    </section>

</section>
