<div>
    @for (item of _allpostComments; track $index) {
    <div class="comments-card flex justify-between bg-slate-100  items-center shadow-sm px-1">
        <div class="flex items-center ">
            <img class="m-2 w-10 rounded-full" src="./assets/imegs/imgAuthercomment.svg" alt="">
            <div class="flex flex-col justify-center ">
                <p class="m-0 font-medium">{{item.commentCreator.name}}</p>
                <p class="-mt-1">{{item.createdAt|date:'fullDate'}}</p>
            </div>
        </div>


        <button class=" relative group z-10  ">
            <i class="fa-solid fa-ellipsis"></i>
            <div class="absolute hidden group-focus:block">
                <ul class="bg-slate-200  rounded-xl flex justify-start gap-3 border p-2
                 flex-col items-center">
                    <li class="flex justify-start">
                        <a class="flex items-center gap-x-1  hover:text-red-600" (click)="DeletComment(item.id)">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </li>
                    <li class="flex justify-start">
                        <a class="flex items-center gap-x-1 hover:text-orange-400 " (click)="updateComment(item.id)">
                            <i class="fa-solid fa-pen "></i>
                        </a>
                    </li>

                </ul>
            </div>
        </button>
    </div>



    <p class="bg-slate-100 p-2 px-6">{{item.content}}</p>
    }

</div>